.app {
  position: relative;
  overflow: hidden;
  padding: 260px 0px 195px 0px;
  z-index: 1;
  @include laptop-min {
    padding: 90px 0px;
  }
  @include tablet {
    padding: 75px 0px 65px 0px;
  }
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
  }
  &__frame {
    position: absolute;
    left: 130px;
    bottom: -255px;
    width: 620px;
    z-index: -1;
    @include desktop {
      left: 80px;
    }
    @include laptop-middle {
      width: 500px;
      left: 30px;
    }
    @include laptop-min {
      display: none;
    }
  }
  &__body {
    max-width: 590px;
    margin-left: auto;
    @include laptop-min {
      margin: 0;
    }
  }
  &__subtitle {
    color: var(--primary);
    font-size: 20px;
    margin: 0px 0px 10px 0px;
  }
  &__title {
    margin-bottom: 16px;
    max-width: 530px;
    @include tablet {
      margin-bottom: 35px;
    }
  }
  &__content {
    max-width: 530px;
    font-size: 20px;
    margin: 0px 0px 100px 0px;
    @include tablet {
      font-size: 16px;
      margin-bottom: 88px;
    }
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .btn-simple {
      @include flex-center;
      gap: 10px;
    }
    @include tablet {
      width: 100%;
      justify-content: center;
    }
  }
  &__btn-icon {
  }
  &__btn-content {
    text-transform: none;
  }
  &__btn-title {
    font-size: 24px;
  }
}
