:root {
  --black: #040609;
  --black-dark: #050404;
  --haiti: #11071b;
  --ebony: #040609;

  --cod-gray: #1b1b1b;
  --gray: #6c6c6c;
  --shaft: #252525;
  --lunar: #3b3d3a;

  --cyan: #00d1ff;
  --anakiwa: #8BEAFF;
  
  --primary: #e142f1;
  --primary-dark: #A01CAD;

  --red: #ce0000;
}