<section
  class="all-services"
  style="background: url(&quot;@img/all-services.jpg&quot;) 0 0 / cover no-repeat"
>
  <div class="container all-services__container">
    <p class="all-services__content">Choose for yourself</p>
    <h2 class="title title-2 all-services__title">All services</h2>
    <div class="all-services__nav">
      <div class="select all-services__select">
        <input type="text" class="input-show" id="services-mark" />
        <button type="button" class="btn select__btn">
          <span>Mark</span>
          <svg class="select__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="select__item scrollbar">
          <ul class="list">
            <li class="select__item-btn">Acura</li>
            <li class="select__item-btn">Aston Martin</li>
            <li class="select__item-btn">Audi</li>
            <li class="select__item-btn">BMW</li>
            <li class="select__item-btn">Bentley</li>
            <li class="select__item-btn">Bugatti</li>
            <li class="select__item-btn">Buick</li>
            <li class="select__item-btn">Cadillac</li>
            <li class="select__item-btn">Chevrolet</li>
            <li class="select__item-btn">Dodge</li>
          </ul>
        </div>
      </div>
      <div class="select all-services__select">
        <input type="text" class="input-show" id="services-model" />
        <button type="button" class="btn select__btn">
          <span>Model</span>
          <svg class="select__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="select__item scrollbar">
          <ul class="list">
            <li class="select__item-btn">Acura</li>
            <li class="select__item-btn">Aston Martin</li>
            <li class="select__item-btn">Audi</li>
            <li class="select__item-btn">BMW</li>
            <li class="select__item-btn">Bentley</li>
            <li class="select__item-btn">Bugatti</li>
            <li class="select__item-btn">Buick</li>
            <li class="select__item-btn">Cadillac</li>
            <li class="select__item-btn">Chevrolet</li>
            <li class="select__item-btn">Dodge</li>
          </ul>
        </div>
      </div>
      <div class="select all-services__select">
        <input type="text" class="input-show" id="services-year" />
        <button type="button" class="btn select__btn">
          <span>Vehicle year</span>
          <svg class="select__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="select__item scrollbar">
          <ul class="list">
            <li class="select__item-btn">Acura</li>
            <li class="select__item-btn">Aston Martin</li>
            <li class="select__item-btn">Audi</li>
            <li class="select__item-btn">BMW</li>
            <li class="select__item-btn">Bentley</li>
            <li class="select__item-btn">Bugatti</li>
            <li class="select__item-btn">Buick</li>
            <li class="select__item-btn">Cadillac</li>
            <li class="select__item-btn">Chevrolet</li>
            <li class="select__item-btn">Dodge</li>
          </ul>
        </div>
      </div>
      <button class="btn btn-custom btn-custom--blue all-services__btn">
        <span>Find services</span>
        <svg class="btn-custom__cross">
          <use xlink:href="img/icons/icons.svg#icon-cross"></use>
        </svg>
      </button>
    </div>
    <ul data-spollers data-one-spoller class="list all-services__list">
      <li class="all-services__item" data-mark="123" data-model="22" data-year="36">
        <img src="@img/cross-gray.png" alt="icon" class="all-services__item-cross" />
        <img
          src="@img/cross-primary.png"
          alt="icon"
          class="all-services__item-cross all-services__item-cross--primary"
        />
        <div class="all-services__wrapper-icons">
          <img src="@img/service-show.png" alt="icon" class="all-services__icon" />
          <img
            src="@img/service-show-dark.png"
            alt="icon"
            class="all-services__icon all-services__icon--show"
          />
        </div>
        <h5 class="title all-services__item-title">BODY WORK</h5>
        <div data-spoller class="all-services__item-btn">
          <span>More</span>
          <svg class="all-services__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </div>
        <div class="all-services__item-info">
          <ul class="list all-services__info-list">
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
          </ul>
          <a href="#" class="btn btn-custom btn-custom--pink all-services__info-btn">
            <span>Book a service</span>
            <svg class="btn-custom__cross">
              <use xlink:href="img/icons/icons.svg#icon-cross"></use>
            </svg>
          </a>
        </div>
        <div class="all-services__item-rect">
          <svg class="all-services__rect-arrow">
            <use xlink:href="img/icons/icons.svg#icon-curve-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="all-services__item" data-mark="2" data-model="35" data-year="47">
        <img src="@img/cross-gray.png" alt="icon" class="all-services__item-cross" />
        <img src="@img/cross-gray.png" alt="icon" class="all-services__item-cross" />
        <img
          src="@img/cross-primary.png"
          alt="icon"
          class="all-services__item-cross all-services__item-cross--primary"
        />
        <div class="all-services__wrapper-icons">
          <img src="@img/service-show.png" alt="icon" class="all-services__icon" />
          <img
            src="@img/service-show-dark.png"
            alt="icon"
            class="all-services__icon all-services__icon--show"
          />
        </div>
        <h5 class="title all-services__item-title">Place order</h5>
        <div data-spoller class="all-services__item-btn">
          <span>More</span>
          <svg class="all-services__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </div>
        <div class="all-services__item-info">
          <ul class="list all-services__info-list">
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
          </ul>
          <a href="#" class="btn btn-custom btn-custom--pink all-services__info-btn">
            <span>Book a service</span>
            <svg class="btn-custom__cross">
              <use xlink:href="img/icons/icons.svg#icon-cross"></use>
            </svg>
          </a>
        </div>
        <div class="all-services__item-rect">
          <svg class="all-services__rect-arrow">
            <use xlink:href="img/icons/icons.svg#icon-curve-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="all-services__item" data-mark="34" data-model="4" data-year="5">
        <img src="@img/cross-gray.png" alt="icon" class="all-services__item-cross" />
        <img
          src="@img/cross-primary.png"
          alt="icon"
          class="all-services__item-cross all-services__item-cross--primary"
        />
        <div class="all-services__wrapper-icons">
          <img src="@img/service-show.png" alt="icon" class="all-services__icon" />
          <img
            src="@img/service-show-dark.png"
            alt="icon"
            class="all-services__icon all-services__icon--show"
          />
        </div>
        <h5 class="title all-services__item-title">MECHANICAL REPAIR</h5>
        <div data-spoller class="all-services__item-btn">
          <span>More</span>
          <svg class="all-services__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </div>
        <div class="all-services__item-info">
          <ul class="list all-services__info-list">
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
          </ul>
          <a href="#" class="btn btn-custom btn-custom--pink all-services__info-btn">
            <span>Book a service</span>
            <svg class="btn-custom__cross">
              <use xlink:href="img/icons/icons.svg#icon-cross"></use>
            </svg>
          </a>
        </div>
        <div class="all-services__item-rect">
          <svg class="all-services__rect-arrow">
            <use xlink:href="img/icons/icons.svg#icon-curve-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="all-services__item" data-mark="4" data-model="15" data-year="46">
        <img src="@img/cross-gray.png" alt="icon" class="all-services__item-cross" />
        <img
          src="@img/cross-primary.png"
          alt="icon"
          class="all-services__item-cross all-services__item-cross--primary"
        />
        <div class="all-services__wrapper-icons">
          <img src="@img/service-show.png" alt="icon" class="all-services__icon" />
          <img
            src="@img/service-show-dark.png"
            alt="icon"
            class="all-services__icon all-services__icon--show"
          />
        </div>
        <h5 class="title all-services__item-title">DIAGNOSTIC</h5>
        <div data-spoller class="all-services__item-btn">
          <span>More</span>
          <svg class="all-services__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </div>
        <div class="all-services__item-info">
          <ul class="list all-services__info-list">
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
          </ul>
          <a href="#" class="btn btn-custom btn-custom--pink all-services__info-btn">
            <span>Book a service</span>
            <svg class="btn-custom__cross">
              <use xlink:href="img/icons/icons.svg#icon-cross"></use>
            </svg>
          </a>
        </div>
        <div class="all-services__item-rect">
          <svg class="all-services__rect-arrow">
            <use xlink:href="img/icons/icons.svg#icon-curve-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="all-services__item" data-mark="15" data-model="6" data-year="767">
        <img src="@img/cross-gray.png" alt="icon" class="all-services__item-cross" />
        <img
          src="@img/cross-primary.png"
          alt="icon"
          class="all-services__item-cross all-services__item-cross--primary"
        />
        <div class="all-services__wrapper-icons">
          <img src="@img/service-show.png" alt="icon" class="all-services__icon" />
          <img
            src="@img/service-show-dark.png"
            alt="icon"
            class="all-services__icon all-services__icon--show"
          />
        </div>
        <h5 class="title all-services__item-title">ELECTRICIAN</h5>
        <div data-spoller class="all-services__item-btn">
          <span>More</span>
          <svg class="all-services__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </div>
        <div class="all-services__item-info">
          <ul class="list all-services__info-list">
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
            <li class="all-services__info-item">body repair</li>
          </ul>
          <a href="#" class="btn btn-custom btn-custom--pink all-services__info-btn">
            <span>Book a service</span>
            <svg class="btn-custom__cross">
              <use xlink:href="img/icons/icons.svg#icon-cross"></use>
            </svg>
          </a>
        </div>
        <div class="all-services__item-rect">
          <svg class="all-services__rect-arrow">
            <use xlink:href="img/icons/icons.svg#icon-curve-arrow"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
