<section class="app" style="background: url(&quot;@img/app.jpg&quot;) center / cover no-repeat">
  <img src="@img/tels.png" alt="frame" class="app__frame" />
  <div class="container">
    <div class="app__body">
      <h5 class="app__subtitle">Mobile app</h5>
      <h2 class="title title-2 app__title">
        GET OUR APPLICATION NOW and receive professional service
      </h2>
      <p class="app__content roboto">
        In the mobile app, get more features and prompt assistance 24/7. You will also be able to
        call a tow truck at the touch of a button
      </p>
      <div class="app__buttons">
        <a href="#" target="_blank" class="btn-simple btn-simple--primary">
          <img src="@img/apple.svg" alt="icon" class="app__btn-icon" />
          <div>
            <span class="app__btn-content">Get it on</span>
            <h5 class="title app__btn-title">App Store</h5>
          </div>
        </a>
        <a href="#" target="_blank" class="btn-simple">
          <img src="@img/playmarket.svg" alt="icon" class="app__btn-icon" />
          <div>
            <span class="app__btn-content">Get it on</span>
            <h5 class="title app__btn-title">Google Play</h5>
          </div>
        </a>
      </div>
      <div class="app__auth">
        <img src="@img/logo.svg" alt="logo" class="app__logo" />
        <a href="#" class="btn-custom btn-custom--pink app__auth-btn"> Login </a>
        <a href="#" class="btn-custom btn-custom--pink-stroke app__auth-btn"> Register </a>
      </div>
    </div>
  </div>
</section>
