<section class="appointment" style="background: url('@img/appointment.jpg') center / cover no-repeat;">
  <div class="container appointment__container _min">
    <h2 class="appointment__title">fast appointment</h2>
    <form action="#" class="appointment__form">
      <label for="fast-appointment-tel" class="appointment__form-item">
        <input type="tel" placeholder="Your phone" id="fast-appointment-tel" class="input" />
      </label>
      <button class="btn btn-custom btn-custom--pink">Call Me</button>
    </form>
  </div>
</section>
