<section class="services">
  <div data-spollers data-one-spoller class="container services__container parent-tab">
    <ul class="list breadcrumbs">
      <li>
        <a href="/">Home /</a>
      </li>
      <li>services a service</li>
    </ul>
    <h1 class="title title-2 services__title">services a service</h1>
    <div class="services__nav">
      <div class="services__nav-changes">
        <div class="services__nav-item">
          <div class="select">
            <button class="btn select__btn">
              <input type="text" id="services-vehicle" class="input-show" />
              <span>Select your Vehicle</span>
              <svg class="select__arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
            <div class="select__item scrollbar">
              <ul class="list">
                <li class="select__item-btn">Lada Granta</li>
                <li class="select__item-btn">Lada Granta</li>
                <li class="select__item-btn">Lada Granta</li>
                <li class="select__item-btn">Lada Granta</li>
                <li class="select__item-btn">Lada Granta</li>
                <li class="select__item-btn">Lada Granta</li>
                <li class="select__item-btn">Lada Granta</li>
                <li class="select__item-btn">Lada Granta</li>
                <li class="select__item-btn">Lada Granta</li>
                <li class="select__item-btn">Lada Granta</li>
                <li class="select__item-btn">Lada Granta</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="services__nav-item">
          <input type="text" placeholder="Mileagle" id="mileagle" class="input" />
        </div>
      </div>
      <div data-da=".services__container, 743, 10" class="pagination">
        <span class="pagination__number">0/5</span>
        <div class="pagination__buttons">
          <a href="#" class="pagination__btn _disabled">
            <svg class="pagination__arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </a>
          <a href="#" class="pagination__btn">
            <svg class="pagination__arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="services__buttons">
      <a href="#" class="btn btn-simple btn-simple__stroke services__btn active">
        Select Repair / Service
      </a>
      <a href="#" class="btn btn-simple btn-simple__stroke services__btn"> Select Diagnostics </a>
      <a href="#" class="btn btn-simple btn-simple__stroke services__btn"> Optional services </a>
    </div>
    <div class="services__body">
      <div class="services__item service">
        <button data-spoller class="btn services__spoller-btn">
          <div class="services__spoller-btn-info">
            <h5 class="title service-title services__spoller-title">Brakes and Traction Control</h5>
            <span class="services__spoller-content selected"></span>
          </div>
          <svg class="services__spoller-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
          <input
            type="checkbox"
            id="brakes-traction-control"
            name="brakes-traction-control"
            class="input-check main-input-check"
          />
          <label for="brakes-traction-control" class="label-check"></label>
        </button>
        <div class="services__spoller-item">
          <div class="services__spoller-item-wrapper">
            <input type="checkbox" id="brakes-traction-control-diagnostic" class="input-check" />
            <label for="brakes-traction-control-diagnostic" class="services__spoller-label">
              Brakes and Traction Control Diagnostic
            </label>
            <input type="checkbox" id="Brake Caliper (Front)" class="input-check" />
            <label for="Brake Caliper (Front)" class="services__spoller-label">
              Brake Caliper (Front)
            </label>
            <input type="checkbox" id="Brake Pad (Front)" class="input-check" />
            <label for="Brake Pad (Front)" class="services__spoller-label">
              Brake Pad (Front)
            </label>
            <input type="checkbox" id="Brake Caliper (Rear)" class="input-check" />
            <label for="Brake Caliper (Rear)" class="services__spoller-label">
              Brake Caliper (Rear)
            </label>
          </div>
        </div>
      </div>
      <div class="services__item service">
        <button data-spoller class="btn services__spoller-btn">
          <div class="services__spoller-btn-info">
            <h5 class="title service-title services__spoller-title">Cooling System</h5>
            <span class="services__spoller-content selected"></span>
          </div>
          <svg class="services__spoller-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
          <input
            type="checkbox"
            id="brakes-traction-control1"
            name="brakes-traction-control1"
            class="input-check main-input-check"
          />
          <label for="brakes-traction-control1" class="label-check"></label>
        </button>
        <div class="services__spoller-item">
          <div class="services__spoller-item">
            <div class="services__spoller-item-wrapper">
              <input type="checkbox" id="brakes-traction-control-diagnostic1" class="input-check" />
              <label for="brakes-traction-control-diagnostic1" class="services__spoller-label">
                Brakes and Traction Control Diagnostic
              </label>
              <input type="checkbox" id="Brake Rotor (Front)" class="input-check" />
              <label for="Brake Rotor (Front)" class="services__spoller-label">
                Brake Rotor (Front)
              </label>
              <input type="checkbox" id="Brake Pad (Front)1" class="input-check" />
              <label for="Brake Pad (Front)1" class="services__spoller-label">
                Brake Pad (Front)
              </label>
              <input type="checkbox" id="Brake Caliper (Rear)1" class="input-check" />
              <label for="Brake Caliper (Rear)1" class="services__spoller-label">
                Brake Caliper (Rear)
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="btn-simple services__btn-order">Place order</a>
  </div>
</section>
