<header class="header">
  <div class="container header__container">
    <button class="btn header__burger-btn" id="burger-open">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav class="header__nav" id="burger">
      <div class="header__nav-wrapper">
        <ul class="list header__list">
          <li>
            <a href="#">diagnostic</a>
          </li>
          <li>
            <a href="#">smog check</a>
          </li>
          <li>
            <a href="#">Towing</a>
          </li>
          <li>
            <a href="#">parts</a>
          </li>
        </ul>
        <a data-da=".header__container,992,1" href="/" class="header__logo">
          <img src="@img/logo.svg" alt="logo" class="header__logo-img" />
        </a>
        <ul class="list header__list">
          <li>
            <a href="#">storage</a>
          </li>
          <li>
            <a href="#">estimate</a>
          </li>
          <li>
            <a href="#">dealership</a>
          </li>
          <li>
            <a href="#">rentals</a>
          </li>
        </ul>
      </div>
      <ul class="list social header__social">
        <li>
          <a href="#" target="_blank" class="social__btn">
            <svg class="social__icon">
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="social__btn">
            <svg class="social__icon">
              <use xlink:href="img/icons/icons.svg#icon-wh"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="social__btn">
            <svg class="social__icon">
              <use xlink:href="img/icons/icons.svg#icon-sms"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="social__btn">
            <svg class="social__icon">
              <use xlink:href="img/icons/icons.svg#icon-tel"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="header__version">v 1.35</p>
    </nav>
    <button class="btn header__burger-close" id="burger-close">
      <svg class="header__icon-arrow">
        <use xlink:href="img/icons/icons.svg#icon-curve-arrow"></use>
      </svg>
    </button>
    <a href="#" class="header__cart">
      <span class="header__cart-number">15</span>
      <svg class="header__cart-icon">
        <use xlink:href="img/icons/icons.svg#icon-cart"></use>
      </svg>
    </a>
  </div>
</header>
