<section class="hero">
  <img src="@img/hero.jpg" alt="image" class="hero__bg" />
  <img src="@img/hero-2.jpg" alt="image" class="hero__bg hero__bg--show" />
  <a href="tel:79000000000" class="hero__btn-chat">
    C <br />
    h <br />
    a <br />
    t <br />
    <br />
    U <br />
    s
  </a>
  <div class="container">
    <h1 class="title title-1 hero__title">Denys Cybershop</h1>
    <p class="hero__content">24/7 collision center auto repair body shop</p>
    <div class="hero__buttons">
      <a href="#" class="btn btn-custom btn-custom--pink">
        <span>Book a service</span>
        <svg class="btn-custom__cross">
          <use xlink:href="img/icons/icons.svg#icon-cross"></use>
        </svg>
      </a>
      <button data-modal="tow" class="btn btn-modal btn-custom btn-custom--blue _anim">
        <span
          >Report a <br />
          collision</span
        >
      </button>
    </div>
    <div class="hero__nav">
      <a href="#" class="hero__nav-btn">
        <svg class="hero__nav-icon">
          <use xlink:href="img/icons/icons.svg#icon-tie"></use>
        </svg>
      </a>
      <ul class="list social">
        <li>
          <a href="#" target="_blank" class="social__btn">
            <svg class="social__icon">
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="social__btn">
            <svg class="social__icon">
              <use xlink:href="img/icons/icons.svg#icon-wh"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="social__btn">
            <svg class="social__icon">
              <use xlink:href="img/icons/icons.svg#icon-sms"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="social__btn">
            <svg class="social__icon">
              <use xlink:href="img/icons/icons.svg#icon-tel"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a href="#" class="hero__nav-btn">
        <svg class="hero__nav-icon">
          <use xlink:href="img/icons/icons.svg#icon-location"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
