<section
  class="history"
  style="background: url(&quot;@img/history-bg.jpg&quot;) 0 0 / cover no-repeat"
>
<img src="@img/history-decor.png" alt="" class="history__decor">
  <div class="container">
    <h2 class="title title-2 history__title">Cyber project history</h2>
    <div class="history__wrapper">
      <a href="#" class="history__item">
        <div class="history__gallery">
          <img src="@img/history.jpg" alt="image" class="history__item-img" />
        </div>
        <h5 class="title history__item-title">
          Real service is an art, a philosophy, a lifestyle.
        </h5>
        <span class="history__item-btn">Read...</span>
      </a>
      <a href="#" class="history__item">
        <div class="history__gallery">
          <img src="@img/history.jpg" alt="image" class="history__item-img" />
        </div>
        <h5 class="title history__item-title">
          Real service is an art, a philosophy, a lifestyle.
        </h5>
        <span class="history__item-btn">Read...</span>
      </a>
      <a href="#" class="history__item">
        <div class="history__gallery">
          <img src="@img/history.jpg" alt="image" class="history__item-img" />
        </div>
        <h5 class="title history__item-title">
          Real service is an art, a philosophy, a lifestyle.
        </h5>
        <span class="history__item-btn">Read...</span>
      </a>
    </div>
    <a href="#" class="btn btn-custom btn-custom--pink history__btn">
      <span>Read all</span>
      <svg class="btn-custom__cross">
        <use xlink:href="img/icons/icons.svg#icon-cross"></use>
      </svg>
    </a>
  </div>
</section>
